.header__lang-link {
  display: inline-block;
  margin: 18px 0 6px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  text-align: right;
}

.header__lang-link:first-child {
  text-decoration: underline;
  margin-right: 18px;
}