.header__lang-link {
  display: inline-block;
  margin: 18px 0 6px;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  text-decoration: none;
  text-align: right;
  color: #fff;
}

.header__lang-link:first-child {
  text-decoration: underline;
  margin-right: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
  }
}