.header__lang-link {
  margin: 0;
  padding: 0 0 6px 0;
  font-size: 24px;
  line-height: calc(28 / 24);
  text-decoration: none;
  color: #fff;
  transition: opacity .4s linear;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:first-child {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: calc(20 / 18);
  }
}