.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__list {
    align-self: start;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    width: 90%;
    max-width: 288px;
  }
}