.cover {
  max-width: 1184px;
  margin: 0 auto 92px;
  min-height: 740px;
  
}

@media (max-width: 1279px) {
  .cover {
    width: 100%;
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover {
    min-height: 360px;
    margin-bottom: 64px;
  }
}

@media (max-width: 425px) {
  .cover {
    min-height: 200px;
  }
}