.intro__title {
  max-width: 690px;
  margin: 0 0 40px 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: calc(58 / 54);
  text-align: left;
}
  
@media screen and (max-width: 1023px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    width: 100%;
    font-size: calc((100vw - 320px) / (768 - 320) * (54 - 32) + 32px);
    line-height: calc(35 / 32);
  }
}